@model IEnumerable<Cualquiera.Models.Administrador>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <button type="submit" class="btn btn-success">
        <a asp-action="Create" style="color: inherit; text-decoration: none;">Create New</a>
    </button>
</p>
<form asp-controller="Administradors" asp-action="Index" >
    <p>
        Buscar: <input type="text" name="buscar" class="form-text"/>
        <input type="submit" value="boton" class="btn btn-dark"/>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rut)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rut)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Delete</a>

            </td>
        </tr>
}
    </tbody>
</table>
